/* MobileNavbar.css */

.mobile-navbar {
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    position: relative;
  }
  
  .mobile-nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .mobile-nav-links li {
    margin: 10px 0;
  }
  
  .mobile-nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .mobile-menu-icon {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .mobile-navbar.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .mobile-navbar.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .mobile-navbar.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .courses-button button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
  }
  