.slider-container {
    background-color: lightgrey;
    padding: 10px;
    max-width: 100%;
}

.carousel-sec{
    display: flex;
    flex-direction: row;
}

.each-univ{
    background-color: white;
    border-radius: 10px;
    border: 1px lightgray solid;
    height: 360px;
    max-width: 200px;
    margin: 10px;
}

.univ-img{
    height: 65%;
    width: 100%;
}

.univ-name {
    margin-left: 10px;
}

.univ-location-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.univ-para{
    margin-left: 10px;
}

.para-dots{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-right: 10px;
}

.dots{
    font-weight: bolder;
    color: black;
    margin: 0;
    padding: 0;
}