.sec-7{
    background-color: #eee9e3;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-7-head {
    text-align: center;
}

.sec-7-para {
    text-align: center;
}

@media (max-width: 1000px) {
    .sec-7-head {
        font-size: 23px;
    }

    .sec-7-para {
        font-size: 13px;
    }
}